In [ ]:
import pandas as pd 
import matplotlib as pls
import seaborn as sns

In [5]:
df = pd.read_csv("../data/gastos_mensuales.csv")
df.head()

,Month,Income_USD,Rent,Food_Groceries,Dining_Out,Transportation,Utilities,Internet_Phone,Insurance,Gym,Subscriptions,Entertainment,Travel,Clothing,Healthcare,Miscellaneous,Savings,Investments
0,January,6000,1600,720,180,300,120,150,250,45,65,200,0,80,90,150,600,200
1,February,6000,1600,700,150,280,115,150,250,45,65,180,200,60,70,140,650,250
2,March,6000,1600,760,210,320,130,150,250,45,65,260,0,120,100,160,620,220
3,April,6000,1600,740,200,310,125,150,250,45,65,240,150,90,95,155,630,230
4,May,6000,1600,730,190,300,120,150,250,45,65,210,0,75,85,150,650,250

In [6]:
df.info()

<bound method DataFrame.info of         Month  Income_USD  Rent  Food_Groceries  Dining_Out  Transportation  \
0     January        6000  1600             720         180             300
1    February        6000  1600             700         150             280
2       March        6000  1600             760         210             320
3       April        6000  1600             740         200             310
4         May        6000  1600             730         190             300
5        June        6000  1600             750         210             290
6        July        6000  1600             770         230             310
7      August        6000  1600             760         220             305
8   September        6000  1600             725         195             295
9     October        6000  1600             750         205             310
10   November        6000  1600             790         240             320
11   December        6000  1600             820         280             330

    Utilities  Internet_Phone  Insurance  Gym  Subscriptions  Entertainment  \
0         120             150        250   45             65            200
1         115             150        250   45             65            180
2         130             150        250   45             65            260
3         125             150        250   45             65            240
4         120             150        250   45             65            210
5         122             150        250   45             65            260
6         128             150        250   45             65            280
7         130             150        250   45             65            270
8         118             150        250   45             65            230
9         125             150        250   45             65            250
10        135             150        250   45             65            300
11        140             150        250   45             65            350

    Travel  Clothing  Healthcare  Miscellaneous  Savings  Investments
0        0        80          90            150      600          200
1      200        60          70            140      650          250
2        0       120         100            160      620          220
3      150        90          95            155      630          230
4        0        75          85            150      650          250
5      400       110          90            145      670          260
6      900       140         115            170      700          300
7      300       130         110            165      680          280
8        0        85          95            150      640          240
9      250        95         100            160      660          260
10       0       160         130            180      720          320
11     600       200         140            200      750          350  >

In [7]:
df.describe()

,Income_USD,Rent,Food_Groceries,Dining_Out,Transportation,Utilities,Internet_Phone,Insurance,Gym,Subscriptions,Entertainment,Travel,Clothing,Healthcare,Miscellaneous,Savings,Investments
count,12.0,12.0,12.000000,12.000000,12.000000,12.000000,12.0,12.0,12.0,12.0,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,6000.0,1600.0,751.250000,209.166667,305.833333,125.666667,150.0,250.0,45.0,65.0,252.500000,233.333333,112.083333,101.666667,160.416667,664.166667,263.333333
std,0.0,0.0,32.482513,32.392012,13.953386,7.302967,0.0,0.0,0.0,0.0,46.146998,284.711444,40.252517,19.462474,16.713948,42.949936,42.923470
min,6000.0,1600.0,700.000000,150.000000,280.000000,115.000000,150.0,250.0,45.0,65.0,180.000000,0.000000,60.000000,70.000000,140.000000,600.000000,200.000000
25%,6000.0,1600.0,728.750000,193.750000,298.750000,120.000000,150.0,250.0,45.0,65.0,225.000000,0.000000,83.750000,90.000000,150.000000,637.500000,237.500000
50%,6000.0,1600.0,750.000000,207.500000,307.500000,125.000000,150.0,250.0,45.0,65.0,255.000000,175.000000,102.500000,97.500000,157.500000,655.000000,255.000000
75%,6000.0,1600.0,762.500000,222.500000,312.500000,130.000000,150.0,250.0,45.0,65.0,272.500000,325.000000,132.500000,111.250000,166.250000,685.000000,285.000000
max,6000.0,1600.0,820.000000,280.000000,330.000000,140.000000,150.0,250.0,45.0,65.0,350.000000,900.000000,200.000000,140.000000,200.000000,750.000000,350.000000